@model Device

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Device</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Code"></label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Type"></label>
            <input asp-for="Type" class="form-control" />
        </div>

        <!-- Show current image -->
        @if (!string.IsNullOrEmpty(Model.ImageURL))
        {
            <div class="mb-3">
                <label>Current Image</label>
                <img src="@Model.ImageURL" alt="Current Image" />
            </div>
        }

        <!-- Allow new images to be uploaded -->
        <div class="mb-3">
            <label for="imageFile">New Image</label>
            <input type="file" name="imageFile" id="imageUpload" accept="image/*">
        </div>

        <!-- Show current document -->
        @if (!string.IsNullOrEmpty(Model.PdfUrlDE))
        {
            <div class="mb-3">
                <label>Current PDF (DE)</label>
                <a href="@Model.PdfUrlDE" target="_blank">View PDF (DE)</a>
            </div>
        }

        <!-- Allow new document uploads (DE) -->
        <div class="mb-3">
            <label for="pdfFileDE">New PDF (DE)</label>
            <input type="file" name="pdfFileDE" id="pdfUploadDE" accept=".pdf">
        </div>

        <!-- Show current document -->
        @if (!string.IsNullOrEmpty(Model.PdfUrlGB))
        {
            <div class="mb-3">
                <label>Current PDF (GB)</label>
                <a href="@Model.PdfUrlGB" target="_blank">View PDF (GB)</a>
            </div>
        }

        <!-- Allow new document uploads (GB) -->
        <div class="mb-3">
            <label for="pdfFileGB">New PDF (GB)</label>
            <input type="file" name="pdfFileGB" id="pdfUploadGB" accept=".pdf">
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Device" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}